body {
  background-color: #F3E7E7;
}

.signUpDiv {
  	background-color: #F00F0F;
  	margin: auto;
  	position: absolute;
  	top:0;
  	bottom: 0;
	left: 0;
	right: 0;
	width: 100px;
	height: 100px;
}
